* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho: #D62828;
    --preto: #0D0D0D;
    --cinza_escuro: #1D1D1D;
    --cinza_mediano: #616161;
    --cinza_claro: #BDBDBD;
    --roxo: #52008E;
}

/* CONFIGURAÇÕES PARA O MENU NO HEADER */
header {
    position: fixed;
    padding: 15px;
    display: flex;
    gap: 80px;
    height: 13vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    z-index: 99;
    color: white;
    background-color: #0C0705;
}

.logo img {
    width: 100px;
}

input {
    width: 60vw;
    height: 35px;
    border-radius: 15px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 30px;
    width: 100%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 135px;
    height: 25px;
}

li:hover {
    background-color: #53008eb2;
    transition: 0.5s ease;
}

.areaCliente {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    gap: 80px;
}

.login {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logImg {
    width: 60px;
    height: 60px;
}

.login p {
    margin-top: 30px;
}

.carrinho {
    display: flex;
    gap: 50px;
    height: 40px;
}

#allFavoritos {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    border-radius: 100%;
    right: 106px;
    bottom: 89px;
    width: 25px;
    height: 25px;
    background-color: #d62828b6;
}


/* CONFIGURAÇÕES PARA O CARROSSEL E O GRADIENTE DE FUNDO */
.fundoGradiente {
    animation: slide 28s infinite, fade 28s;
}

#carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}

#bgCarrossel {
    margin-top: 135px;
    width: 100%;
    height: 80%;
    background-size: 75% 100%;
    background-repeat: no-repeat;
    background-position: center;
    animation: slider 28s infinite, fade 28s;
}


/* CONFIGURAÇÕES PARA TODAS AS SECTIONS E SEUS CONTEÚDOS */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
}

.anuncios {
    height: 30vh;
}

.corFundo {
    animation: corFundo 28s infinite, fade 28s;
}

.imgAnuncios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 85%;
    height: 100%;
    background-color: whitesmoke;
}

.anuncios img {
    width: 45%;
    height: 65%;
}

.cards {
    display: grid;
    background-color: whitesmoke;
    width: 85%;
    height: 100%;
}

h2 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 50px;
    color: whitesmoke;
    background-color: var(--vermelho);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
    width: 280px;
    height: 380px;
    background-color: aliceblue;
    transition: 0.5s ease;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 15px #1f1f1f8c;
}

.card:hover .nome {
    visibility: hidden;
    width: 0;
    height: 0;
}

.card:hover .cardImgs {
    display: flex;
}

.none {
    display: none;
}

.moverParaDireita {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 60px;
    margin-left: -70px;
    z-index: 10;
    transition: 0.5s ease;
}

.moverParaDireita:hover {
    transform: scale(1.06);
}

.moverParaEsquerda {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 60px;
    margin-right: -70px;
    z-index: 10;
    transition: 0.5s ease;
}

.moverParaEsquerda:hover {
    transform: scale(1.06);
}

.setaMoverCarrossel {
    width: 75%;
    height: 75%;
}


/* CONFIGURAÇÕES PARA O CONTEÚDO DOS CARDS QUE SERÃO CRIADOS PELO JS */
.nome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 230px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--cinza_escuro);
}

.cardImgs {
    display: none;
    flex-direction: row-reverse;
    padding: 10px;
    width: 100%;
    gap: 10px;
    height: 50px;
}

.cardImgs img {
    width: 25px;
    height: 25px;
}

.cardImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.produtoCard {
    width: 70%;
    height: 70%;
}

.descricao {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: var(--cinza_mediano);
}

.preco {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-right: 20px;
}

.preco {
    gap: 95px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    color: var(--vermelho);
    font-weight: 550;
}

.preco img {
    width: 30px;
    height: 30px;
}

.preco p {
    min-width: 100px;
}

.avaliacao {
    display: flex;
}

.avaliacao img {
    width: 15px;
    height: 15px;
}


/* ANIMAÇÃO PARA A TROCA AUTOMÁTICA DO CARROSEL DE FUNDO*/
@keyframes slider {

    0%,
    24% {
        background-image: url(./img/tecladoCarrossel.png);
    }

    25%,
    49% {
        background-image: url(./img/monitoCarrossel.png);
    }

    50%,
    74% {
        background-image: url(./img/jblCarrossel.png);
    }

    75%,
    100% {
        background-image: url(./img/cameraCarrossel.png);
    }
}


/* ANIMAÇÃO PARA A TROCA DE COR GRADIENTE DE FUNDO */
@keyframes slide {

    0%,
    24% {
        background: #FFFFFF;
        background: linear-gradient(146deg, rgba(255, 255, 255, 1) 15%, rgba(189, 189, 189, 1) 30%, rgba(0, 0, 0, 1) 46%);
    }

    25%,
    49% {
        background: #FFFFFF;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 58%, rgba(94, 149, 163, 1) 79%, rgba(4, 90, 110, 1) 99%);
    }

    50%,
    74% {
        background: #FFFFFF;
        background: linear-gradient(146deg, rgba(255, 255, 255, 1) 13%, rgba(189, 189, 189, 1) 27%, rgba(0, 0, 0, 1) 42%);
    }

    75%,
    100% {
        background: #FFFFFF;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(189, 189, 189, 1) 31%, rgba(126, 127, 130, 1) 55%);
    }
}

@keyframes corFundo {

    0%,
    24% {
        background-color: rgba(0, 0, 0, 1);
    }

    25%,
    49% {
        background-color: rgba(4, 90, 110, 1);
    }

    50%,
    74% {
        background-color: rgba(0, 0, 0, 1);
    }

    75%,
    100% {
        background-color: rgba(255, 255, 255, 1);
    }
}



/* ANIMAÇÃO PARA SUAVIZAÇÃO DE TROCA DE IMAGENS DO CARROSSEL DE FUNDO */
@keyframes fade {
    0% {
        opacity: 1;
    }

    15%,
    85% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

/* Responsividades */

@media (max-width: 650px) {
    #bgCarrossel {
        background-size: 100% 100%;
        height: 60%;
        margin-bottom: 225px;
    }

    .fundoGradiente {
        animation: none;
        background-color: white;
    }

    .corFundo {
        animation: none;
        background-color: white;
    }

    header {
        padding-top: 20px;
        height: 90px;
        gap: 5px;
        pointer-events: none;
    }

    .logo img {
        width: 70px;
    }

    .areaCliente {
        width: 120px;
        height: 100px;
    }

    .carrinho {
        display: none;
        gap: 5px;
    }

    .login p {
        display: none;
    }

    input {
        display: none;
    }

    .areaCliente {
        margin-left: -15px;
        margin-top: -15px;
    }

    .logo {
        margin-left: -20px;
    }

    .logImg {
        width: 55px;
        height: 55px;
    }

    ul {
        width: 350px;
        margin-right: -50px;
        margin-top: 40px;
        gap: 10px;
        font-size: 9px;
        justify-content: flex-start;
    }

    li {
        width: 60px;
    }

    section {
        margin-top: -55px;
        height: 350px;
    }

    .cards {
        margin-bottom: 110px;
        width: 100vw;
        height: 55vh;
    }

    .anuncios {
        margin-bottom: 180px;
    }

    .imgAnuncios {
        width: 100%;
    }

    .imgAnuncios img {
        height: 45%;
    }

    .card {
        width: 205px;
        height: 305px;
        pointer-events: none;
    }

    .nome {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 0.8rem;
    }

    .preco {
        gap: 30px;
    }

    .preco p {
        font-size: 0.9rem;
    }
}