* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --roxo: #B266FF;
    --vermelho: #B00020;
    --rosado: #E91E63;
    --cinza: #1F1F1F;
    --preto: #0D0D0D;
}

header {
    position: fixed;
    padding: 15px;
    display: flex;
    gap: 80px;
    height: 13vh;
    width: 100%;
    z-index: 99;
    background-color: rgb(68, 68, 230);
}

.logo img {
    width: 100px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 30px;
    width: 100%;
}

input {
    width: 60vw;
    height: 30px;
}

.areaCliente {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    gap: 80px;
}

.logImg {
    width: 60px;
    height: 60px;
}

.login {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.login p {
    margin-top: 30px;
}

.carrinho {
    display: flex;
    gap: 50px;
    height: 40px;
}

#carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    background-color: aqua;
    animation: slide 20s infinite, fade 20s;
}

#bgCarrossel {
    margin-top: 115px;
    width: 100%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: slider 20s infinite, fade 20s;
}

.promocoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45vh;
    background-color: red;
}

.cards {
    background-color: black;
    width: 85%;
    height: 100%;
}

h2 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgb(72, 72, 235);
}

@keyframes slider {
    0%, 24% {
        background-image: url(./img/tecladoCarrossel.png);
    }
    25%, 49% {
        background-image: url(./img/jblCarrossel.png);
    }
    50%, 74% {
        background-image: url(./img/cameraCarrossel.png);
    }
    75%, 100% {
        background-image: url(./img/monitorCarrossel.png);
    }
}

@keyframes slide {
    0%, 24% {
        background-color: var(--rosado);
    }
    25%, 49% {
        background-color: var(--cinza);
    }
    50%, 74% {
        background-color: var(--preto);
    }
    75%, 100% {
        background-color: var(--cinza);
    }
}


@keyframes fade {
    0% {opacity: 0;}
    15%, 85% {opacity: 1;}
    100% {opacity: 0;}
}